{% extends "main.html" %}

{% block dispBook %}
<script language="javascript">
$(function(){$(".addBookForm").hide();});
</script>
Search Result for {{ bookRequested }} : <hr>
	<table padding=2px>
	{% for book in books %}
		<tr><td><a href="/book/{{ book.key().id() }}">{% if book.googleImage %}<img class="googleImg" src="{{ book.googleImage }}"></img>{% else %}NO IMAGE{% endif %}</a></td>
		<td>Name: {{ book.bookTitle }}<br>
		Price: {{ book.price }}<br>
		Remark: {{ book.remark }}</td></tr>
	{% endfor %}
	</table>

{% endblock %}



