{% extends "template.html" %}
{% block addBook %}
<br>
<span class="addBookClickable" > Click here to enter your book details here</span>
<hr>
<div class="addBookForm">
<form method="post" id="addBook" action="/">
	
<table class="table_form">
<tr><td>Book Title(*):</td><td><input type="text" name="bookTitle" value="{{ newBook.bookTitle }}"> {{ bookTitleError }}</td></tr>
<tr><td>Book condition(*):</td><td><textarea name="bookCondition" >{{ newBook.bookCondition }}</textarea>{{ bookConditionError }}</td></tr>
<tr><td>Asking Price(*):</td><td><input type="text" name="price"  value="{{ newBook.price }}"> {{ priceError }}	</td></tr>
<tr><td colspan=2><i>Please provide at least one way to contact you</i></td></tr>
<tr><td>Phone Number:</td><td><input type="text" name="phoneNumber" value="{{ newBook.phoneNumber }}"></td></tr>
<tr><td>Email address:</td><td><input type="text" name="email" value="{{ newBook.email }}"></td></tr>
<tr><td>Facebook link:</td><td><input type="text" name="facebook" value="{{ newBook.facebook }}">{{ contactError }}</td></tr>
<tr><td colspan=2><span class="moreDetailsClickable">----------Enter more details --------------- </span></td></tr>
<tr><td colspan=2>
	<div class="moreDetailsForm">
	<table class="table_moreDetails_form">
	<tr><td>Course:</td><td><input type="text" name="courseID" value="{{ newBook.courseID }}"></td></tr>
	<tr><td>ISBN:</td><td><input type"text" name="ISBN" value="{{ newBook.ISBN }}"></td></tr>
	<tr><td>Edition:</td><td><input type="text" name="edition" value="{{ newBook.edition }}"></td></tr>
	<tr><td>Any Remarks:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td><textarea name="remark">{{ newBook.remark }} </textarea></td></tr>
	</table>
	</div>
</td></tr>
<tr><td><input type="reset" value="Re-enter Details"></td>
<td><input type="submit" name="submit" value="Add Book"></td></tr>
</table>
<hr>
</form></div>
{% endblock %}



{% block dispBook %}
<!--featured books -->

<div id="featuredBooks" >
<b>Featured Books</b><hr> 
{% for book in featuredBooks %}	
<span id="book"><img src="{{ book.googleImage }}" height=120px></img></span>
{% endfor %}	
<hr></div>


{% endblock %}

