<!DOCTYPE html>

<html>
<head>
	<title> Book Exchange </title>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="static/template.css">
	<link rel="stylesheet" href="static/main.css">

	<link href='http://fonts.googleapis.com/css?family=Gabriela' rel='stylesheet' type='text/css'>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="static/script.js"></script>
</head>
<body>
<!--heading -->
<div class="heading"><a href="/"><span class="title">Book Exchange</span> at Clark University</a>
	<!--book search -->
	<div class="bookSearch" > 
		<form method="post" action="/findBook">
		<label name="findBook">Search Book &nbsp;&nbsp;<input type="search" name="findBook" placeholder="Press Enter to search"></label>
		</form>
	</div>
</div>
<div id="message">{{ message }}</div>	

{% block addBook %}{% endblock %}	
{% block dispBook %}{% endblock %}
</body>
</html>
