.addBookClickable{
	cursor:pointer;
}
.addBookForm{
}
#addBook{
}
.form_table{
}
.moreDetailsClickable{
	cursor:pointer;
}
.moreDetailsForm{
}
.table_moreDetails_form{
}
#googleImages{
}
#featuredBooks{
}
#book{
}

/*specific to verify.html*/
.googleImg{
	padding:2px;
	border:solid 2px #555555;
}
.googleImg:hover{
	border:#FF0000;
}
.googleImgDispImg{
	height:200px;
	padding:3px;
	border:solid 2px #00FF00;
}
