.addBookClickable{
	cursor:pointer;
}
.addBookForm{
}
#addBook{
}
.table_form{
}
.moreDetailsForm{
}
.table_moreDetails{
}
#googleImages{
}
#featuredBooks{
}

.googleImg{
	cursor:pointer;
	padding:2px;
	border:solid 2px #555555;
	height:120px;
}
.googleImg:hover{
	border:solid 2px #FF0000;
}
.googleImgDispImg{
	height:200px;
	padding:3px;
	border:solid 2px #00FF00;
}
